<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      

    </head>

<body class="adbody">
    <nav>
        <a routerLink="" class="logo"><img src="../assets/Images/logo.png"></a>
        <ul>
        
         
        </ul>
        <button type="button" routerLink="/demo">Edit Profile</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" routerLink="/login">Logout</button>
        <!-- <button type="button" routerLink="/signup">Sign Up</button> -->
      </nav><br><br>

      <section>
    
       
        <h3 style="font-weight: 700;padding-left:600px;padding-top:50px;padding-bottom: 60px;">Patient Appointment Details..</h3><br>
        <table class="table">
        <thead>
         <tr>
             <th></th>
             <th></th>
             <th scope="col">PatientName</th>
             <th scope="col">UserEmail</th>
             <th scope="col">Age</th>
             <th scope="col">Gender</th>
             <th scope="col">Appointment Time</th>
             <th scope="col">Problem </th>
             <th> Edit Action</th>
         </tr>
        </thead>
        <tbody>
           <tr *ngFor="let app of Appointments">
            <td></td>
            <td></td>
             <td>{{app.patientName }}</td>
             <td>{{app.userEmail}}</td>
             <td>{{app.age}}</td>
             <td>{{app.gender}}</td>
             <td>{{app.appointmentSchedule}}</td>
             <td>{{app.diseaseDescription}}</td>
         
     
     
            <td><button class="btn btn-danger" (click)="Decline(app.appointmentId)">Delete</button></td>
            </tr>
        </tbody>
        </table><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
     </section>


      <!-- <footer class="footer">
        <div class="container">
      
          <div class="row">
      
            <div class="footer-col">
              <h2>HEALTHCR</h2>
                  <p>Healthcare at its finest...<br>
                  </p>
            </div>
            <div class="footer-col">
              <h4>Links</h4>
              <ul>
                <li><a routerLink="">Home</a></li>
               
                <li><a routerLink="/specialities">Specialities</a></li>
                <li><a routerLink="/procedures">Procedures</a></li>
                <li><a routerLink="/appointment">Appointment</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Support</h4>
              <ul>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/support">Support center</a></li>
                <li><a routerLink="/feedback">Feedback</a></li>
                
              </ul>
            </div>
            <div class="footer-col">
              <h4>Contact us</h4>
              <div class="social-links">
                <a href="https://www.facebook.com/itcgrandcentral/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/ITCHotels"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/itchotels/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/itc-hotels/"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
      
          </div>
        </div>   
      
        <div class="footer-bottom">
          <p>copyright &copy;2023 <a routerLink="/home">HealthCR</a> All Rights Reserved </p>
       </div>
      
      </footer> -->

          
      </body>
      </html>