<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      

    </head>

<body class="adbody">
    <nav>
        <a routerLink="" class="logo"><img src="../assets/Images/logo.png"></a>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/specialities">Specialities</a></li>
          
          <li><a routerLink="/treatment">Treatments</a></li>
         
        </ul>
        <a href="tel:+91 9360585602"><button type="button">Emergency<br>+91 9360585602</button></a>
        <button type="button" routerLink="/appointment">Appointment</button>
        <!-- <button type="button" routerLink="/signup">Sign Up</button> -->
      </nav>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/Images/bgimg1.png" style="background-position: center;background-size: cover; width:100%;margin: 0%;" alt="Slide 1">
          <div class="carousel-caption">
            <h1>We Care for your Health...</h1>
          </div>
        </div>
      </div>

      <section class="facilities">
        <h2 style="font-weight: 600; color:black; text-align: center;padding-bottom: 100px;">Treatments according to Diseases..</h2>
        <div class="row">
            <div class="facilities-col">
                <img src="../../assets/Images/appendix.png">
                <h5>Appendix</h5>
                <p>Appendix might be small, but the pain isn't.<br> Be Well, have the best team of laparoscopic surgeons who are highly specialized in appendicitis surgery.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/gall-stones-surgery.png">
                <h5>Gallstones</h5>
                <p>Treat gallstone efficiently. Laparoscopic Cholectrolectomy by highly experienced laparoscopic surgeons. Smaller incisions, less pain.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/gynecomastia-surgery.png">
                <h5>Gynecomastia</h5>
                <p>Gynecomastia is a procedure for removing fat from male breast. At Be Well, we have an expert team of Plastic surgeons who are highly specialized in minimal invasive procedure.</p>
            </div>

        </div><br>
    
        <div class="row">
            <div class="facilities-col">
                <img src="../../assets/Images/tonsilities.png">
                <h5>Tonsillitis Surgery</h5>
                <p>Appendix might be small, but the pain isn't.<br> Be Well, have the best team of laparoscopic surgeons who are highly specialized in appendicitis surgery.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/fissure.png">
                <h5>Fissure</h5>
                <p>Treat gallstone efficiently. Laparoscopic Cholectrolectomy by highly experienced laparoscopic surgeons. Smaller incisions, less pain.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/fistula.png">
                <h5>Fistula</h5>
                <p>Gynecomastia is a procedure for removing fat from male breast. At Be Well, we have an expert team of Plastic surgeons who are highly specialized in minimal invasive procedure.</p>
            </div>

        </div><br>
        <div class="row">
            <div class="facilities-col">
                <img src="../../assets/Images/hernia-surgery-hospital.png">
                <h5>Hernia</h5>
                <p>Appendix might be small, but the pain isn't.<br> Be Well, have the best team of laparoscopic surgeons who are highly specialized in appendicitis surgery.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/hydrocele-surgery.png">
                <h5>Hydrocele</h5>
                <p>Treat gallstone efficiently. Laparoscopic Cholectrolectomy by highly experienced laparoscopic surgeons. Smaller incisions, less pain.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/kidney-stone-removal.png">
                <h5>Kidney Stone</h5>
                <p>Gynecomastia is a procedure for removing fat from male breast. At Be Well, we have an expert team of Plastic surgeons who are highly specialized in minimal invasive procedure.</p>
            </div>

        </div><br>
        <div class="row">
            <div class="facilities-col">
                <img src="../../assets/Images/circumcision-surgery.png">
                <h5>Circumcision</h5>
                <p>Appendix might be small, but the pain isn't.<br> Be Well, have the best team of laparoscopic surgeons who are highly specialized in appendicitis surgery.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/knee-replacement-surgery.png">
                <h5>Knee Replacement</h5>
                <p>Treat gallstone efficiently. Laparoscopic Cholectrolectomy by highly experienced laparoscopic surgeons. Smaller incisions, less pain.</p>
            </div>
            <div class="facilities-col">
                <img src="../../assets/Images/hysterectomy-surgery.png">
                <h5>Hysterectomy</h5>
                <p>Gynecomastia is a procedure for removing fat from male breast. At Be Well, we have an expert team of Plastic surgeons who are highly specialized in minimal invasive procedure.</p>
            </div>

        </div><br>
    </section>
        <footer class="footer">
            <div class="container">
          
              <div class="row">
          
                <div class="footer-col">
                  <h2>DOCPULSE</h2>
                      <p>HEalthcare at its finest...<br>
                      </p>
                </div>
                <div class="footer-col">
                  <h4>Links</h4>
                  <ul>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/demo">Demo</a></li>
                    <li><a routerLink="/specialities">Specialities</a></li>
                    <li><a routerLink="/procedures">Procedures</a></li>
                    <li><a routerLink="/appointment">Appointment</a></li>
                  </ul>
                </div>
                <div class="footer-col">
                  <h4>Support</h4>
                  <ul>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/support">Support center</a></li>
                    <li><a routerLink="/feedback">Feedback</a></li>
                    
                  </ul>
                </div>
                <div class="footer-col">
                  <h4>Contact us</h4>
                  <div class="social-links">
                    <a href="https://www.facebook.com/itcgrandcentral/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/ITCHotels"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/itchotels/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/itc-hotels/"><i class="fab fa-linkedin-in"></i></a>
                  </div>
                </div>
          
              </div>
            </div>   
          
            <div class="footer-bottom">
              <p>copyright &copy;2023 <a routerLink="/home">DocPulse </a> All Rights Reserved </p>
           </div>
          
          </footer>

</body>
