<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
      

    </head>

<body >
    <nav>
        <a routerLink="" class="logo"><img src="../assets/Images/logo.png"></a>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/specialities">Specialities</a></li>
        
          <li><a routerLink="/treatment">Treatments</a></li>
         
        </ul>
        <a href="tel:+91 9360585602"><button type="button">Emergency<br>+91 9360585602</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" routerLink="/appointment">Appointment</button>
      </nav>
      
      <section>
        <div class="carousel-inner">
            <div class="carousel-item active">
              <img style="width:1515px;height:700px;"src="../../assets/Images/bgimg2.jpg" alt="Slide 1">
             
            </div>
          </div>
      </section>

      <div class="adbody">
        <h2>Specialisations in our Hospital...</h2>
            <div class="grid-container">
                <ng-container *ngFor="let dep of Depts">
                <div class="grid-item">
                  <img src="{{dep.img}}" alt="roomimage">
                  <div class="details">
                    <h4 style="font-weight: 500;">{{dep.depName}}</h4>
                    <p style="padding-bottom: 15px;">{{dep.description}}</p>
                    
                  </div>
                </div>
            </ng-container>
    
            </div>
   
        </div>

      

      <footer class="footer">
        <div class="container">
      
          <div class="row">
      
            <div class="footer-col">
              <h2>HEALTHCR</h2>
                  <p>Healthcare at its finest...<br>
                  </p>
            </div>
            <div class="footer-col">
              <h4>Links</h4>
              <ul>
                <li><a routerLink="">Home</a></li>
               
                <li><a routerLink="/specialities">Specialities</a></li>
                <li><a routerLink="/procedures">Procedures</a></li>
                <li><a routerLink="/appointment">Appointment</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Support</h4>
              <ul>
                <li><a routerLink="/faq">FAQ</a></li>
                <li><a routerLink="/support">Support center</a></li>
                <li><a routerLink="/feedback">Feedback</a></li>
                
              </ul>
            </div>
            <div class="footer-col">
              <h4>Contact us</h4>
              <div class="social-links">
                <a href="https://www.facebook.com/itcgrandcentral/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/ITCHotels"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/itchotels/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/itc-hotels/"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
      
          </div>
        </div>   
      
        <div class="footer-bottom">
          <p>copyright &copy;2023 <a routerLink="/home">HealthCR</a> All Rights Reserved </p>
       </div>
      
      </footer>
          
          
      </body>
      </html>